* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #e9f3ff;
}
header {
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 5px 11px #c6c2c2;
}
.mainheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  flex-basis: 15%;
  text-align: center;
}
.logo img {
  width: 70%;
  height: 70px;
}
.menu ul {
  display: flex;
}
.menu ul li {
  list-style-type: none;
  margin: 0px 30px;
}
.active {
  text-decoration: none;
  background-color: #2b5b99;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.weathercontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.weathercontent .card {
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px gray;
  color: white;
  width: 400px;
}
.weathercard{
  background-image: linear-gradient(162deg , #27548f 31%, #466ea2 64%);
}
.card.forcastcard {
  background: #5e87bc;
  width: 400px;
}

.cloudimg {
  width: 50%;
}
.cloudimage {
  width: 75%;
}
.humunity{
  text-align: center;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.humunity .icon {
  margin-right: 18px;
}
.humunity .icon i{
  font-size: 2.5rem;
}
.temparature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

.otherdata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cityname {
  background: #5e87bc;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.temp {
  text-align: center;
  font-size: 1.5rem;
}

.toggleContainer {
  position: relative;
  width: fit-content;
  border-radius: 20px;
  background: #406aa6;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 5px 15px;
}
 
.forecasthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row .col-6{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forecastcontent img{
  width: auto;
}
.forecastcontent {
  height: 300px;
  overflow-y: scroll; /* Enable vertical scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}
.forecastcontent::-webkit-scrollbar {
  display: none;
}
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
ul{
  margin: 10px 34px;
}
.aboutcontent {
  box-shadow: 0px 0px 5px green;
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  color: white;
}
.aboutcontent::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url("./img/bgimg.JPG");
  background-repeat: no-repeat;
  /* background-size: cover; */
  z-index: -1;
  filter: blur(0px);
}
 
ul li {
  line-height: 2.5;
}